*,
::before,
::after {
  box-sizing  : border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #cbd5e1;
  /* 2 */
}

code,
kbd,
samp,
pre {
  font-family            : theme('fontFamily.mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
  /* 1 */
  font-feature-settings  : theme('fontFamily.mono[1].fontFeatureSettings', normal);
  /* 2 */
  font-variation-settings: theme('fontFamily.mono[1].fontVariationSettings', normal);
  /* 3 */
  font-size              : 1em;
  /* 4 */
}

button {
  background-color: transparent;
  background-image: none;
}

button,
[role="button"] {
  cursor: pointer;
}